@charset "utf-8";    
.pagenation_content{
	padding-left:33px; width:800px;
}
.pagination{
    margin-top:5px;
	height:30px;
	line-height: 30px;
	margin-bottom:1px;
	text-align:center;
}
.pagination a{
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	display:block;
	color:#000000;
	float:left;
	width:30px;
	height:30px;
}
.pagination a:hover{
	text-decoration: none;
}
.pagination .current{
	border:1px solid #AAE;
	display:block;
	color:#FFFFFF;
	float:left;
	width:30px;
	height:30px;
	background-color: #DDDDDD;
}

.pagination .pagination-start{
	width:40px;
}
.pagination .pagination-end{
	width:40px;
}

.pagination span{
	border:1px solid #DDDDDD;
	background-color: #FFFFFF;
	float:left;
	height:30px;
	padding-left:2px;
	padding-right:2px;
}
.pagination .pagination-prev{
	width:50px;
}
.pagination .pagination-next{
	width:50px;
}
.pagination select{
	width:60px;
	padding-top: 1px; padding-bottom: 1px; padding-left:0px; height: 25px; margin-bottom: 4px;padding-right: 2px; 
	-webkit-border-radius:0px;
	border-radius:0px;
}